# Directory to store all information.
ROOT_DIRECTORY=.

# TZ used in containers.
TZ=America/Halifax

# User and group ID to use in containers.
PUID=1000
PGID=1000

# Optional services to include when running compose.
COMPOSE_PROFILES=bazarr,overseerr,requestrr,tautulli

# VPN setup (OpenVPN)
OPENVPN_SERVICE_PROVIDER=nordvpn
OPENVPN_USER=SECRET
OPENVPN_PASSWORD=SECRET
OPENVPN_SERVER_COUNTRIES=Canada

# Plex Claim (Optional) Found: https://plex.tv/claim
PLEX_CLAIM=
